[package]
name = "cargo-changelog"
version = "0.1.0"
edition = "2021"

authors = [ "Matthias Beyer <mail@beyermatthias.de>" ]
description = "Changelog management tool"
homepage = "https://github.com/matthiasbeyer/cargo-changelog"
repository = "https://github.com/matthiasbeyer/cargo-changelog"
license = "GPL-2.0"
readme = "./README.md"
keywords = [ "cargo", "changelog", "cli", "utility", "tool" ]
categories = [ "command-line-utilities", "development-tools", "development-tools::cargo-plugins" ]

[dependencies]
cargo_metadata = "0.15.0"
clap = { version = "3", features = [ "cargo", "derive", "wrap_help" ] }
comma = "1.0.0"
dialoguer = "0.10.2"
env_logger = "0.9.0"
getset = "0.1.2"
git2 = "0.15.0"
handlebars = "4.3.4"
itertools = "0.10.4"
log = "0.4.17"
miette = { version = "5.3.0", features = ["fancy"] }
semver = "1.0.14"
serde = { version = "1", features = [ "derive" ] }
serde_json = "1"
serde_yaml = "0.9.13"
thiserror = "1.0.35"
time = { version = "0.3.14", features = [ "formatting", "macros" ] }
toml = "0.5.9"
typed-builder = "0.10.0"
walkdir = "2.3.2"

[dev-dependencies]
assert_cmd = "2.0.4"
indoc = "1.0.7"
predicates = "2.1.1"
tempdir = "0.3.7"
