[package]
name = "cargo-changelog"
version = "0.2.0"
edition = "2021"

authors = [ "Matthias Beyer <mail@beyermatthias.de>" ]
description = "Changelog management tool"
homepage = "https://github.com/matthiasbeyer/cargo-changelog"
repository = "https://github.com/matthiasbeyer/cargo-changelog"
license = "GPL-2.0"
readme = "./README.md"
keywords = [ "cargo", "changelog", "cli", "utility", "tool" ]
categories = [ "command-line-utilities", "development-tools", "development-tools::cargo-plugins" ]

[badges]
maintenance = { status = "actively-developed" }

[dependencies]
cargo_metadata = "0.18.1"
clap = { version = "4", features = [ "cargo", "derive", "wrap_help" ] }
clap_complete = "4.2.1"
comma = "1.0.0"
dialoguer = "0.10.3"
env_logger = "0.10.2"
getset = "0.1.2"
git2 = "0.16.1"
handlebars = "4.3.6"
is-terminal = "0.4.12"
itertools = "0.12.1"
log = "0.4.21"
miette = { version = "7.2.0", features = ["fancy"] }
semver = "1.0.22"
serde = { version = "1", features = [ "derive" ] }
serde_json = "1"
thiserror = "1.0.38"
time = { version = "0.3.20", features = [ "formatting", "macros" ] }
toml = "0.7.3"
typed-builder = "0.14.0"
walkdir = "2.5.0"
yansi = "0.5.1"

[dev-dependencies]
assert_cmd = "2.0.14"
indoc = "2.0.0"
predicates = "3.0.2"
tempfile = "3.8.0"
